output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal_20251212154/checkpoint_000030_loss_0.840.pth
output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal_20251212154/checkpoint_000035_loss_0.803.pth
output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal_20251212154/checkpoint_000045_loss_0.717.pth
output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal_20251212154/checkpoint_000050_loss_0.740.pth
output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal_20251212154/checkpoint_000055_loss_0.699.pth
output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal_20251212154/checkpoint_000060_loss_0.652.pth
output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal_20251212154/checkpoint_000065_loss_0.638.pth
output/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal_20251212154/checkpoint_000040_loss_0.758.pth
preextracted_features/mercaptionplus/audio_HUBERT_LARGE_8clips/
preextracted_features/mercaptionplus/face_CLIP_VIT_LARGE_8frms/
preextracted_features/mercaptionplus/frame_CLIP_VIT_LARGE_uniform_8frms/
output/log_information/ablations/
output/log_information/reasoning/
output/log_information/supplementary/
output/log_information/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal/reasoning/result
output/log_information/emercoarse_highlevelfilter4_outputhybird_bestsetup_bestfusion_lz_face_frame_au_Nonverbal/result
